.table {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1350px;
}

.table-header {
   width: 1350px;
   height: 40px;
   display: flex;
}

.table-body {
    width: 1350px;
    display: flex;
    flex-direction: column;
}

.columns {
    display: flex;
    width: 1350px; 
}

.table-columns {
    display: flex;
    width: 150px;
    position: relative;
    left: 35px;
}

.body-columns {
    width: 150px;
    height: 30px;
    position: relative;
    left: 35px;
    color: rgb(167, 230, 173);
    font-weight: bold;
}

.user-info {
    border-bottom: 2px solid rgb(213, 240, 214);
    color: rgb(60, 123, 60);
    background: rgb(60, 123, 60);
    margin-top: 20px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
}

.user-info:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.btn-container {
    height: 40px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 8px;
}

.btn-up, .btn-down  {
    border: none;
    position: relative;
    left : 15px;
    height: 10px;
    width: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
   background: url('../../assets/up-arrow.svg') center no-repeat;
}

.btn-down {
    transform: rotate(180deg);
}

.btn-up:hover, .btn-down:hover {
    cursor: pointer;
}