.section-not-found {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.not-found-warning {
    display: flex;
    color: red;
    font-weight: bold;
    justify-content: center;
}

.not-found-message {
    display: flex;
    text-align: center;
    justify-content: center;
}

.not-found-link {
    margin-top: 40px;
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-size: 2em;
}

.error-not-found {
    color: red;
    font-weight: bold;
    font-size: 5em
}